
	<div class="row" style="background-color: white;">
		
		<div class="col-sm-12">
			<div class="row">
				<a class="text-left" href="#/users/0"> <em class="text-left">Soufiane ELBAZ</em> </a>
				<em class="text-right" style="float: right;">2 min ago</em>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<img src="http://lorempixel.com/600/400/people/1/Dummy-Text" class="img-responsive"/>
				</div> 
			</div>

			<div class="row">
					<strong  class="text-left">Like</strong>
					<em>-</em>
					<strong  class="text-left">Comment</strong>
					<strong class="text-right" style="float: right;">Share</strong>
			</div>

		</div>
	</div>

